html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

.home {
  height: 100vh;
}

.about-row,
.contact-row {
  color: #333;
  /* background: lightgrey; */
  padding: 20px 0;
}

.portfolio {
  background: lightgrey;
}

.row {
  margin: 0;
}

.top-bar {
  position: fixed;
  top: 0;
  background-color: #222;
  border-bottom: solid #444 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

.top-bar-logo {
  padding-left: 13px;
}

.home {
  background: url("../images/homepage-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-content {
  position: relative;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, -50%);
}

.nav-buttons {
  display: none;
}
.active-nav-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #222;
  width: 60%;
  height: 100vh;
  right: 0;
  top: 51px;
  color: white;
}

.nav-buttons a {
  padding: 20px;
}

.nav-anchor::before {
  content: "";
  display: block;
  height: 51px;
  margin: -51px 0 0;
}

.burger {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 2px;
  background: white;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.burger:before {
  top: -9px;
}

.burger:after {
  top: 9px;
}
.burger-container {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding-right: 13px;
}

.burger-main:before,
.burger-main:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.burger-container.active-burger .burger-main {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.burger-container.active-burger .burger-main:before {
  top: 0;
  transform: rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.burger-container.active-burger .burger-main:after {
  top: 0;
  transform: rotate(225deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.fa-chevron-down {
  font-size: 50px;
  animation: MoveUpDown 0.9s linear infinite;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  color: black;
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 60%;
  }
  50% {
    top: 61%;
  }
}

.about-table li:first-child {
  border-top: solid #222 1px;
}

.about-table li {
  border-bottom: solid #222 1px;
  padding: 10px 0;
}

.about-table li p {
  margin: 0;
}

h3,
.about-table li p {
  font-size: 18px;
}

h3 {
  margin: 0;
  line-height: 1.5;
}

.about-image {
  box-shadow: 0 0 20px #555;
  height: 450px;
  width: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  filter: brightness(90%);
  border-radius: 3px;
}

.about-header {
  margin: 24px 0;
}

h2 {
  color: #222;
  margin-bottom: 0;
}

.h2-bar {
  height: 3px;
  width: 90px;
  background: #ff4d4d;
}

.about-btns {
  margin-bottom: 10px;
}

.about-contact-btn,
.resume-btn {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 10px 20px;
  border: solid #222 3px;
}

.about-contact-btn {
  color: white;
  background: #222;
}

.resume-btn {
  color: #222;
}

.project-header {
  margin: 24px 0 19px;
}

.card-container {
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  background-color: white;
}

.right-card-content,
.left-card-content {
  flex-direction: column;
}

.card {
  box-shadow: 1px 1px 10px #999;
}

.right-card-body,
.left-card-body {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
  flex: 6 2;
}

.right-card-body {
  border-right: solid #999 1px;
}

.left-card-body {
  border-left: solid #999 1px;
}

h5 {
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: solid #999 1px;
}

.span-content {
  font-weight: 700;
}

.learn-more-btn:hover {
  cursor: pointer;
  color: white;
  background: #222;
}
.image-container {
  width: 90%;
  margin: 0 auto;
}
.card-img-top {
  border-radius: 3px;
  box-shadow: 0 0 10px black;
  max-width: 100%;
  width: 100%;
}

.project-btns a {
  margin: 0 5px;
}

.deployed-web,
.github-web {
  background: white;
  color: black;
  padding: 5px 10px;
  bottom: 20%;
}

.deployed-web {
  border: solid #ff4d4d 2px;
  left: 5%;
}

.deployed-web:hover {
  color: #ff4d4d;
}

.github-web {
  border: solid #4d88ff 2px;
}

.github-web:hover {
  color: #4d88ff;
}

.modal-title {
  margin: 0 auto;
}

.contact a {
  color: #666;
}

.contact a:hover {
  color: #222;
}

.contact-form input,
.contact-form textarea {
  border: solid #666 1px;
}

footer {
  background: #222;
  padding: 5px 0;
  width: 100%;
  color: white;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
  margin: 0 auto;
  width: 250px;
}

@media screen and (min-width: 950px) {
  .image-container {
    flex: 5 2;
  }

  .right-card-content {
    flex-direction: row;
  }

  .left-card-content {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 576px) {
  .nav-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    align-items: center;
    margin: 0;
  }
  .nav-buttons a {
    padding: 0;
  }
  .top-bar {
    padding: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .about-image {
    width: 100%;
  }
  .resume-btn {
    display: inline-block;
  }
}

@media only screen and (min-width: 1300px) {
  .about-row,
  .contact-row,
  .portfolio-row {
    width: 70%;
    margin: 0 auto;
  }
}
